.sidebar-logo {
      padding: 1.2rem;
}

.sidebar-logo img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 120px;
      margin: 0 auto;
}

.sidebar-item {
      padding: 1.2rem;     
}
